<body>
    {{#if success}}
        <p>{{message}}</p>
        <p>Nombre de usuario: {{username}}</p> <!-- Mostramos el nombre de usuario -->
    {{else}}
        <p>{{message}}</p>
    {{/if}}
</body>