<div>
  <h1>Perfil de usuario</h1>
  <p>{{ user.first_name }}</p>
  <p>{{ user.last_name }}</p>
  <p>{{ user.email }}</p>
  <p>{{ user.age }}</p>

  <div>
    <form action="/api/session/logout" method="get">
      <br />
      <button type="submit">Cerrar Sesión</button>
    </form>
  </div>

</div>